
body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
}

header {
    height: 150px;
}

.main_logo {
    margin-left: 5%;
    display: block;
}

/* панель навигации (3 ссылки)  */
.navigation_panel_main {
    margin-left: 35%;
    margin-top: -4%;
}

.navigation_panel {
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступ слева */
    display: flex; /* Делаем список flex-контейнером */
    
    gap: 20px; /* Устанавливаем промежуток между элементами */
}

.navigation_panel a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок */
}

.navigation_panel li {
    display: inline-block; /* Размещаем элементы в одну строку */
    font-size: 1vw;
}

/* мини блок с лимитами по компаниям  */
.limit_of_companies {
    display: inline-block;

    border: 1px solid  #eae1e196;
    border-radius: 10px;
    background-color: #e9e8e8b7;

    width: 300px;
    height: 80px;

    margin-left: 55%;
    margin-top: -15%;
    padding-left: 2%;
}

.used_companies {
    color: rgb(130, 130, 130);
}

.used_companies_key {
    margin-left: 70%;
    margin-top: -15%;

    font-weight: 600;
    font-size: 1.5vw;
    text-align: center;
}

.limit {
    margin-top: -7%;
    color: rgb(130, 130, 130);
}

.limit_key {
    margin-left: 70%;
    margin-top: -15%;

    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    color: #8AC540;
}


/* мини блок с панелью управленея учетной записью  */
.authorization_panel {
    margin-left: 1500px;
    /* border: 1px dashed; */
    width: 10%;
    margin-top: -5%;
}

.authorization_panel p {

}

.authorization_panel a {
    margin-top: -10%;

    text-decoration: none;
    color: rgb(130, 130, 130);

}

.authorization_panel img {
    width: 40%;
    margin-left: 50%;
    margin-top: -35%;
    border: 1px solid white;
    border-radius: 50%;
    display: block;
}

/* основной блок для авторизованного пользователя  */

.main_block_for_autorization_user {
    height: 800px;
    background-image: url(/images/mainblock.png);
    background-repeat: no-repeat;
    background-position: 80% -10%;
    background-size: 35%;


}

.image_for_main_block img{
    /* background-image: url(/images/mainblock.png);
    background-repeat: no-repeat; */

}

.main_block_for_autorization_user h2 {
    font-size: 5vw;
    text-transform: uppercase;
    line-height: 105%;

    margin-left: 5%;
    /* margin-top: -1%; */
}

.main_block_for_autorization_user p {
    font-size: 1.5vw;
    text-transform: uppercase;

    margin-left: 5%;
    margin-top: -2%;
}

.get_info {
    width: 20%;
    height: 7%;
    margin-left: 5%;
    background-color: rgba(89, 112, 255, 1);
    border: 1px solid rgba(89, 112, 255, 1);
}

.get_info a {
    text-decoration: none;
    font-size: 1.5vw;
    color: white;
}

/* слайдер  */

.why_we {
    height: 1200px;
}

.why_we h2 {
    font-size: 3vw;
    text-transform: uppercase;
    line-height: 105%;

    margin-left: 5%;
}

/* сам слайдер  */
swiper-container {
    margin-top: 5%;

    width: 90%;
    height: 30%;
    /* background-color: #8AC540; */
}

swiper-slide {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 250px;
    width: 50%;

    margin-top: 3%;
    

    -webkit-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2);
    
}

swiper-slide p {
    margin-left: -10%;
    padding-right: 3%;
    margin-top: 15%;
    font-size: 1vw;
    display: inline;

}

swiper-slide img {
    display: inline;
    /* width: 15%; */

    margin-top: -25%;
    margin-left: 7%;
    height: 25%;
    /* object-fit: cover; */
}

.big_male {
    margin-left: 10%;
}

/* карточки с тарифами */

.tarifs {
    height: 900px;
}

.tarifs h2 {
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 3vw;
}

.cards {
    height: 700px;

    display: flex;
    justify-content: space-around;

    margin-left: 5%;
    margin-right: 5%;
    
}

/* Первая карточка */
.card_one {
    border: solid 1px #FFB64F;
    border-radius: 10px;

    width: 25%;
    height: 80%;

    background-color: #FFB64F;
}

.header_in_card_one {
    height: 20%;

    margin-top: -3%;
}

.header_in_card_one h5 {
    font-size: 1.8em;
    margin-left: 5%;
}

.header_in_card_one p {
    font-size: 1.3em;
    margin-left: 5%;
    margin-top: -5%;
}

.body_in_card_one {
    width: 99%;
    height: 73%;
    background-color: white;

    border: solid 1px #FFB64F;
    border-radius: 10px;

    margin-left: 0.2%;
    /* margin-top: -5%; */
}

.body_in_card_one h6 {
    font-size: 2em;
    margin-left: 5%;
}

/* .sale {
    margin-left: 35%;
    margin-top: -27%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);
} */

.body_in_card_one h5 {
    margin-left: 35%;
    margin-top: -25%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);
}

.body_in_card_one p {
    font-size: 1.1em;
    margin-left: 5%;
}

.body_in_card_one ul {
    margin-top: 10%;
    text-decoration: none;
}

.body_in_card_one li {
    text-decoration: none;
}

.body_in_card_one li::marker {
    content: '✓'; /* Используем символ галочки */
    color: green; /* Делаем её зелёной */
    font-size: 16px; /* Опциональный размер шрифта */
}

.tarif_button_one {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: 5%;
    margin-top: 5%;

    background-color: rgba(205, 204, 204, 0.55);

    border: 1px solid rgba(205, 204, 204, 0.55);
    border-radius: 5px;
}

.tarif_button_one a {
    text-decoration: none;
    color: #000000;
}

/* вторая карточка  */
.card_two {
    border: solid 1px #7CE3E1;
    border-radius: 10px;

    width: 25%;
    height: 80%;

    background-color: #7CE3E1;
}

.header_in_card_two {
    height: 20%;

    margin-top: -3%;
}

.header_in_card_two h5 {
    font-size: 1.8em;
    margin-left: 5%;
}

.header_in_card_two p {
    font-size: 1.3em;
    margin-left: 5%;
    margin-top: -5%;
}

.body_in_card_two {
    width: 99%;
    height: 73%;
    background-color: white;

    border: solid 1px #7CE3E1;
    border-radius: 10px;

    margin-left: 0.2%;
    /* margin-top: -5%; */
}

.body_in_card_two h6 {
    font-size: 2em;
    margin-left: 5%;
}

.body_in_card_two h5 {
    margin-left: 45%;
    margin-top: -25%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);    
}

/* .sale {
    margin-left: 35%;
    margin-top: -23%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);
} */

.body_in_card_two p {
    font-size: 1.1em;
    margin-left: 5%;
}

.body_in_card_two ul {
    margin-top: 10%;
    text-decoration: none;
}

.body_in_card_two li {
    text-decoration: none;
}

.body_in_card_two li::marker {
    content: '✓'; /* Используем символ галочки */
    color: green; /* Делаем её зелёной */
    font-size: 16px; /* Опциональный размер шрифта */
}

.tarif_button_two {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: 5%;
    margin-top: 5%;

    background-color: rgba(89, 112, 255, 1);

    border: 1px solid rgba(89, 112, 255, 1);
    border-radius: 5px;
}

.tarif_button_two a {
    text-decoration: none;
    color: white;
}



/* Третья карточка  */
.card_three {
    border: solid 1px #000000;
    border-radius: 10px;

    width: 25%;
    height: 80%;

    background-color: #000000;
}

.header_in_card_three {
    height: 20%;

    margin-top: -3%;
}

.header_in_card_three h5 {
    font-size: 1.8em;
    margin-left: 5%;
    color: white;
}

.header_in_card_three p {
    font-size: 1.3em;
    margin-left: 5%;
    margin-top: -5%;
    color: white;
}

.body_in_card_three {
    width: 99%;
    height: 73%;
    background-color: white;

    border: solid 1px #000000;
    border-radius: 10px;

    margin-left: 0.2%;
    /* margin-top: -5%; */
}

.body_in_card_three h6 {
    font-size: 2em;
    margin-left: 5%;
}

.body_in_card_three h5 {
    margin-left: 35%;
    margin-top: -26%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);
}

/* .sale {
    margin-left: 35%;
    margin-top: -23%;

    font-size: 1.5em;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.347);
} */

.body_in_card_three p {
    font-size: 1.1em;
    margin-left: 5%;
}

.body_in_card_three ul {
    margin-top: 10%;
    text-decoration: none;
}

.body_in_card_three li {
    text-decoration: none;
}

.body_in_card_three li::marker {
    content: '✓'; /* Используем символ галочки */
    color: green; /* Делаем её зелёной */
    font-size: 16px; /* Опциональный размер шрифта */
}

.tarif_button_three {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: 5%;
    margin-top: 5%;

    border: 1px solid rgba(89, 112, 255, 1);
    border-radius: 5px;

    background-color: rgba(89, 112, 255, 1);
}

.tarif_button_three a {
    text-decoration: none;
    color: white;
}